@use "./Commons.scss" as *;

body{
    padding: 0;
    margin: 0;
}

#light{
    #text{
        color: $primary-text-color;

    }
    #background{
        background: $primary-background;

    }

    #content{
        background: -webkit-linear-gradient(rgb(234, 203, 149),rgb(228, 224, 224), rgb(104, 86, 158));
    }

}

#dark{
    #text{
        color:$secondsry-text-color;

    }
    #background{
        background-color: $secondary-background;

    }

    #content{
        background: -webkit-linear-gradient(rgb(34, 33, 33),rgb(65, 63, 63), rgb(22, 21, 26));
    }

}