.artist-card {
  display: flex;
  margin: 5rem 2rem;
  padding: 1rem;
  gap: 20;
  flex-direction: column;
  //   background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);

  & > * {
    width: 100%;
  }

  .card-image {
    text-align: center;
    width: 150px;
    margin-inline: auto;

    img {
      border-radius: 50%;
      box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
      max-width: 100%;
      display: block;
    }
  }

  .card-info {
    p {
      color: rgb(39, 38, 38);
    }
  }
}

@media screen and (max-width: 640px) {
  .artist-card {
    margin: 0;
    box-shadow: none;
    gap: 10;
  }
}
