@use "./Commons.scss" as *;

.artist-section {
  .middle-section {
    .wrapper {
      display: block;

      .carousel_header {
        display: block;

        .artist-card {
          display: grid;
          //   grid-template-rows: 1fr 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          margin: 0;
          padding: 2rem;

          .card {
            height: 90%;
            width: 90%;
            cursor: pointer;
            transition: 0.5s ease;
            .artist_image {
              img {
                display: block;
                height: 200px;
                width: 100%;
                border-radius: 5%;
              }
            }
          }

          .card:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .artist-section {
    .middle-section {
      .wrapper {
        padding: 0 0 0 1rem;
        .carousel_header {
          padding: 0;
          box-shadow: none;
          .artist-card {
            width: 100%;
            grid-template-columns: 1fr 1fr;
            padding: 0rem;
            box-shadow: none;
          }
        }
      }
    }
  }
}
