.comments {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: scroll;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;

      span {
        flex-grow: 1;
        margin-right: 10px;
      }

      button {
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;

        svg {
          color: red;
        }
      }
    }
  }

  h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-size: 16px;
      margin-bottom: 5px;
    }

    textarea {
      height: 100px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
    }
  }
}
.model {
    display: flex;

  .comments_container {
    overflow: scroll;
  }
}
