@use "./Commons.scss" as *;

.genre-section {
  .middle-section {
    .wrapper {
      display: block;

      .carousel_header {
        display: block;

        .genre-card {
          display: grid;
          //   grid-template-rows: 1fr 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          margin: 0;

          .card {
            height: 150px;
            width: 150px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem;
            transition: 0.5s ease;
            background-color: transparent;
            // background-color: rgb(34, 34, 34);
            box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);

            .genre_image {
              img {
                display: block;
                height: 100%;
                width: 100%;
                border-radius: 5%;
              }
            }

            .genre_info {
              background-color: rgb(201, 194, 194);
              width: 130px;
              height: 130px;
              border-radius: 50%;
              border: 2px solid white;
              text-align: center;
              box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
              -webkit-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .card:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .genre-section {
    .middle-section {
      .wrapper {
        padding: 0 0 0 1rem;
        .carousel_header {
          padding: 0;
          box-shadow: none;
          .genre-card {
            width: 100%;
            grid-template-columns: 1fr 1fr;
            padding: 0rem;
            box-shadow: none;

            .card {
              margin: 0.5rem 0;
              width: 130px;
              height: 120px;

              .genre_info {
                height: 100px;
                width: 100px;
              }
            }
          }
        }
      }
    }
  }
}
