.songlist {
  .songlist-header {
    display: flex;
    justify-content: space-between;

    .favouriteicon {
      color: red;
      transform: rotate(30deg) translate(0, 5px);
      background-color: white;
      border-radius: 20px;
      padding: 5px;
      font-size: 30px;
    }

    .arrowdown {
      transform: translate(0, 5px);
    }
  }
  .songlist-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);

    .left {
      display: flex;
      align-items: center;
      width: 35%;

      .left-info {
        display: flex;
        flex-direction: column;

        .primary_text_color {
          font-weight: 500;
        }

        .grey_text {
          font-size: 0.8rem;
        }
      }

      & > * {
        margin-inline: 5px;
      }
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    .right {
      display: flex;
      align-items: center;
      width: 65%;

      & > * {
        margin-inline: 5px;
      }

      audio {
        filter: sepia(30%) saturate(80%) grayscale(1) contrast(99%) invert(12%);
      }
    }
  }

  .no-songs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: aliceblue;
    box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 41px -22px rgba(0, 0, 0, 0.75);
  }
}

@media screen and (max-width: 480px) {
  .mostplayed {
    .mostplayed_header {
      display: block;
    }

    .mostplayed_element_play,
    .mostplayed_element_stop {
      flex-direction: column;
      align-items: flex-start;

      .right {
        margin-top: 5px;

        & > * {
          margin: 0 10px 0 20px;
        }
      }
    }
  }
}
