.form{
  height: 100%;
  width: 100%;
  justify-content: center;
  .login_wrapper {
    padding: 20px;
    width: 350px;
    margin: 20px auto;
    .login_textfield{
      margin: 10px 0;
     }
     .login_button{
      margin: 8px 0;
      background-color: #DC4D2E;
      color: #fff;
    }
    .form_logo{
      position: relative;
      left: 40%;
    }
    h2{
      position: relative;
      left: 32%;
      color: rgb(116, 115, 115);
    }
  
  }
  

}


