@use "./Commons.scss" as *;
.main-section {
  height: 100%;
  width: 100%;
  display: flex;
  transition: all 0.5s;
  .main-navbar {
    background-color: white;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: scroll;
    transition: 0.5s ease;
    .nav-header {
      padding-left: 7vh;
      h2 {
        color: rgb(116, 115, 115);
        font-size: $h2;
      }
    }

    ul {
      padding-top: 3vh;
      width: 100%;
      background-color: transparent;
      display: block;
      color: black;
      .active {
        .icon {
          color: red;
        }
      }

      .nav-list {
        padding-bottom: 5vh;
        width: 100%;
        list-style: none;
        color: black;
        cursor: pointer;
        display: flex;
        background-color: transparent;
        transition: 0.5s ease-in;

        :hover {
          background-color: red;
        }
        .icon {
          background-color: transparent;
          padding-right: 5vh;
          svg {
            background-color: transparent;
            height: 30px;
            width: 30px;
          }
        }
        .nav-item {
          background-color: transparent;
          font-size: $li;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }

  .content-part {
    width: 100%;
    height: fit-content;
    display: flex;

    .left-section {
      width: 25%;
      height: 100%;
    }

    .right-section {
      width: 75%;
      min-height: 100vh;
      transition: 0.5s ease;
    }
  }
}

.box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.299);
  padding: 0;

  .icon {
    border-left: 1px solid rgba(0, 0, 0, 0.299);
    border-radius: 0;
  }
}

.top-bar {

  input{
    padding: 10px 20px;

  }
  .search-box {
    position: absolute;
    z-index: 99;
    width: 300px;
    padding: 20px 0px 20px 0px;
    background-color: white;
    transition: 1s ease-in;
    top: 5%;
    margin-left: 15px;
    display: block;

    .cancel{
      display: flex;
      width: 100%;
      position: relative;
      justify-items: end;
      justify-content: end;
      padding-right: 10px;

      svg{
        cursor: pointer;
      }
    }

    .artist-section{
      .header{
        padding-left: 20px;
      }
      .artists {
        padding: 0px 20px 0 20px;
        display: flex;
        cursor: pointer;
  
        .artist-pic {
          padding-top: 5px;
          width: 20%;
          height: 20%;
  
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
        .artist-name {
          height: 20%;
          top: 2%;
          display: flex;
          padding-left: 20px;
          h3 {
            padding-bottom: 10px;
          }
        }
      }
      .artists:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

    }
    
    .song-section{
      .header{
        padding-left: 20px;
      }
      .songs {
        padding: 0px 20px 0 20px;
        display: flex;
        cursor: pointer;
        .songs-pic {
          padding-top: 5px;
          width: 20%;
          height: 20%;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
        .songs-name {
          height: 20%;
          top: 2%;
          display: flex;
          padding-left: 20px;
          h3 {
            padding-bottom: 10px;
          }
        }
      }
      .songs:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

    }
    
  }
}
