.artist-wrapper {
  display: flex;

  .artist-info {
    width: 45%;
  }

  .player-wrapper {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    width: 55%;

    & > div {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .artist-wrapper {
    flex-direction: column;

    .artist-info {
      width: 100%;
    }

    .player-wrapper {
      width: 100%;
      padding: 0 1rem;
    }
  }
}
